<% unless @locations.empty? %>
  <%= GMap.header %>
  <% map = map_location(@locations) %>
  <%= map.to_html %>
  </head><body>
<% end %>

<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<table>
  <tr>
    <th>Date</th>
    <th>Location</th>
  </tr>

<% for event in @upcoming_events %>
  <tr>
    <td><%=h event.date %></td>
    <td><%= link_to h(event.location.name), location_path(event.location) %></td>
  </tr>
<% end %>
</table>

<%= map.div(:width => 600, :height => 400) unless map.nil? %>