
<%= GMap.header %>
<% map = map_location(@location) %>
<%= map.to_html %>
</head><body>

<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @location.address %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @location.longitude %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<table>
  <tr>
    <th>Date</th>
    <th>Group</th>
  </tr>

<% for event in @location.events.upcoming %>
  <tr>
    <td><%=h event.date %></td>
    <td><%= link_to h(event.group.name), group_path(event.group) %></td>
  </tr>
<% end %>
</table>

<%= map.div(:width => 600, :height => 400) %>
